@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --royal-yellow: rgb(250, 218, 94);
  --charcoal: rgb(26, 26, 26);
  --slate-steel: rgb(70, 85, 95);
  --white: #ffffff;
}

*, *::before, *::after {
  border-radius: 0 !important;
}

body {
  font-family: 'Arial Narrow', 'Segoe UI', 'Roboto', sans-serif;
  background-color: var(--white);
  color: var(--charcoal);
}
